{% extends 'blog/base.html' %}

{% block title %}{{ group_value | striptags }} - {{ page.groupby | capitalize }} - えやみぐさ{% endblock %}
{% block og_title %}{{ group_value | striptags }} - {{ page.groupby | capitalize }} - えやみぐさ{% endblock %}

{% block content %}
<div class="container">

{% block article_index %}
  <div class="article-index">
    <h2>{{ groupby |capitalize }}: {{ group_value }}</h2>
    <ul>
{% for article in articles %}
      <li>
        {{ article.link() }}
        <small>
          {% if article.updated and article.date != article.updated -%}
            (updated: {{ article.updated.strftime('%Y-%m-%d') }})
          {%- elif article.date -%}
            (created: {{ article.date.strftime('%Y-%m-%d') }})
          {%- endif %}
        </small>
{% endfor %}
    </ul>
  </div>

</div>
{% endblock article_index %}

{% block pagination %}
  {{ index_pagination(page, group_value, num_pages, cur_page, is_last) }}
{% endblock pagination %}

{% endblock content %}


{% block tocbar %}
  {% if page.get_config('custom_search_engine_id', None) %}
  <h4>Search</h4>
  <script async src="https://cse.google.com/cse.js?cx={{ page.custom_search_engine_id }}"></script>
  <div class="gcse-search"></div>
  {% endif %}

  <h4>Categories</h4>
  <ul class="categories">
  {% for values, items in contents.group_items('category') %}
    <li>
      <a href="{{ page.path_to('/index_category.yml', group_value=values[0]).replace('/index.html', '/') }}" class="category-item">
        {{ values[0] }} ({{ len(items) }})
      </a>
  {% endfor %}
  </ul>

  <h4>Tags</h4>
  <ul class="tags">
{% for values, items in contents.group_items('tags') %}
    <li>
      <a href="{{ page.path_to('/index_tag.yml', group_value=values[0]).replace('/index.html', '/') }}" class="tag-item">
        {{ values[0] }} ({{ len(items) }})
      </a>
{% endfor %}
  </ul>
{% endblock tocbar %}
